<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- XAMPP default: root user, no password, port 3306 -->
		<add name="MySqlConnection" connectionString="Server=127.0.0.1;Port=3306;Database=grocery_inventory;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>